@charset "utf-8";
/* CSS Document */

/************************************
Use for:         kdzf.99.com
Version:         1.0
Date:            2016-08-29 9:30:00
Author:          php
Employee number: 206742
Update:  
*************************************/

/*加载*/
@-webkit-keyframes loadingImg{
  0%{-webkit-transform:rotate(-25deg);}	
  100%{-webkit-transform:rotate(25deg);}
}
@keyframes loadingImg{
  0%{transform:rotate(-25deg);}	
  100%{transform:rotate(25deg);}
}
/*抖屏*/
@-webkit-keyframes buzz{
    50%{-webkit-transform:translateY(3px);}	
	100%{-webkit-transform:translateY(-3px);}
}
@keyframes buzz{
    50%{transform:translateY(3px);}	
	100%{transform:translateY(-3px);}
}
/*标题*/
@-webkit-keyframes tit-bg{
   0%{-webkit-transform:scale(3); opacity:0;}
   100%{-webkit-transform:scale(1); opacity:1;}	
}
@keyframes tit-bg{
   0%{transform:scale(3); opacity:0;}
   100%{transform:scale(1); opacity:1;}	
}
/*首屏man*/
@-webkit-keyframes man{
   from { background-position: 0 0; }
   100% { background-position: 0 -1650px; }	
}
@keyframes man{
   from { background-position: 0 0; }
   100% { background-position: 0 -1650px; }	
}
/*tryBtn*/
@-webkit-keyframes btn{
   0%{-webkit-transform:scale(.8);}
   50%{-webkit-transform:scale(0.7);}
   100%{-webkit-transform:scale(.8);}	
}
@keyframes btn{
   0%{transform:scale(.8);}
   50%{transform:scale(0.7);}
   100%{transform:scale(.8);}	
}
/*tryBtn*/
@-webkit-keyframes btnT{
   0%{-webkit-transform:scale(.6);}
   50%{-webkit-transform:scale(0.5);}
   100%{-webkit-transform:scale(.6);}	
}
@keyframes btnT{
   0%{transform:scale(.6);}
   50%{transform:scale(0.5);}
   100%{transform:scale(.6);}	
}
/*掉纸钞*/
@-webkit-keyframes fall{
   0%{ opacity:0;-webkit-transform:translate(200px,0px) rotate(-10deg);bottom:600px;}
   50%{ opacity:1;-webkit-transform:translate(100px,0);bottom:300px;}
   100%{ opacity:0;-webkit-transform:translate(0px,0) rotate(10deg);bottom:0;}	
}
@keyframes fall{
   0%{ opacity:0;transform:translate(200px,0px) rotate(-10deg);bottom:600px;}
   50%{ opacity:1;transform:translate(100px,0);bottom:300px;}
   100%{ opacity:0;transform:translate(0px,0) rotate(10deg);bottom:0;}	
}
/*左右摇头*/
@-webkit-keyframes headLR{
   0%{-webkit-transform:rotate(-20deg);}
   100%{-webkit-transform:rotate(0deg);}	
}
@keyframes headLR{
   0%{transform:rotate(-20deg);}
   100%{transform:rotate(0deg);}	
}
/*旋转*/
@-webkit-keyframes rotate{
   0%{-webkit-transform:rotate(0);}
   100%{-webkit-transform:rotate(360deg);}	
}
@keyframes rotate{
   0%{transform:rotate(0);}
   100%{transform:rotate(360deg);}	
}
/*逆向旋转*/
@-webkit-keyframes rotateT{
   0%{-webkit-transform:rotate(0);}
   100%{-webkit-transform:rotate(-360deg);}	
}
@keyframes rotateT{
   0%{transform:rotate(0);}
   100%{transform:rotate(-360deg);}	
}
/*小物品*/
@-webkit-keyframes floatGoods{
   0%{-webkit-transform: rotate(0deg) translateX(3px) rotate(0deg);}
   100%{-webkit-transform: rotate(360deg) translateX(3px) rotate(-360deg);}
}
@keyframes floatGoods{
   0%{transform: rotate(0deg) translateX(3px) rotate(0deg);}
   100%{transform: rotate(360deg) translateX(3px) rotate(-360deg);}
}
/*小物品2*/
@-webkit-keyframes floatGoodsT{
   0%{-webkit-transform: rotate(360deg) translateX(-3px) rotate(-360deg);}
   100%{-webkit-transform: rotate(0deg) translateX(-3px) rotate(0deg);}	
}
@keyframes floatGoodsT{
   0%{transform: rotate(360deg) translateX(-3px) rotate(-360deg);}
   100%{transform: rotate(0deg) translateX(-3px) rotate(0deg);}	
}
/*love*/
@-webkit-keyframes love{
  0%{ opacity:0;}
  100%{ opacity:1;-webkit-transform:translateY(-60px);}	
}
@keyframes love{
  0%{ opacity:0;}
  100%{ opacity:1;transform:translateY(-60px);}	
}
/*左辫*/
@-webkit-keyframes braidL{
  0%{}
  100%{-webkit-transform:rotate(10deg);}	
}
@keyframes braidL{
  0%{}
  100%{transform:rotate(10deg);}	
}
/*右辫*/
@-webkit-keyframes braidR{
  0%{}
  100%{-webkit-transform:rotate(-10deg);}
}
@keyframes braidR{
  0%{}
  100%{transform:rotate(-10deg);}
}
/*左辫2*/
@-webkit-keyframes braidLT{
  0%{-webkit-transform:rotate(30deg);}
  100%{-webkit-transform:rotate(-10deg);}	
}
@keyframes braidLT{
  0%{transform:rotate(30deg);}
  100%{transform:rotate(-10deg);}	
}
/*右辫2*/
@-webkit-keyframes braidRT{
  0%{-webkit-transform:rotate(-30deg);}
  100%{-webkit-transform:rotate(10deg);}
}
@keyframes braidRT{
  0%{transform:rotate(-30deg);}
  100%{transform:rotate(10deg);}
}
/*面膜man*/
@-webkit-keyframes head{
  0%{-webkit-transform:rotate(-20deg);}	
  100%{-webkit-transform:rotate(180deg);}
}
@keyframes head{
  0%{transform:rotate(-20deg);}	
  100%{transform:rotate(180deg);}
}
/*荡秋千*/
@-webkit-keyframes swing{
  0%{-webkit-transform-origin:center -85px;-webkit-transform:rotate(-60deg) scale(.8);}	
  100%{-webkit-transform:rotate(-15deg) scale(.8);}
}
@keyframes swing{
  0%{transform-origin:center -85px;transform:rotate(-60deg) scale(.8);}	
  100%{transform:rotate(-15deg) scale(.8);}
}
/*口袋征服 man move*/
@-webkit-keyframes move{
  0%{-webkit-transform:translateX(80px) translateY(-15px); opacity:.4;}
  25%{-webkit-transform:translateX(40px) translateY(0); }
  50%{-web
  kit-transform:translateX(0px) translateY(15px); opacity:.8;}
  75%{-webkit-transform:translateX(-40px) translateY(0);}
  100%{-webkit-transform:translateX(-80px) translateY(-15px); opacity:1;}	
}
@keyframes move{
  0%{transform:translateX(80px) translateY(-15px); opacity:.4;}
  25%{transform:translateX(40px) translateY(0); }
  50%{transform:translateX(0px) translateY(15px); opacity:.8;}
  75%{transform:translateX(-40px) translateY(0);}
  100%{transform:translateX(-80px) translateY(-15px); opacity:1;}	
}
/*面膜*/
@-webkit-keyframes mask{
  0%{-webkit-transform:translate(150px,0); opacity:0;}
  50%{opacity:.8;}
  100%{-webkit-transform:translate(0,150px); opacity:0;}	
}
@keyframes mask{
  0%{transform:translate(150px,0); opacity:0;}
  50%{opacity:.8;}
  100%{transform:translate(0,150px); opacity:0;}	
}
/*踹人（左边man）*/
@-webkit-keyframes manUp{
  0%{-webkit-transform:translate(150px,120px) scale(.9);}
  15%{-webkit-transform:translate(120px,110px) scale(.9);}
  50%{-webkit-transform:translate(100px,100px) scale(.9);}
  75%{-webkit-transform:translate(80px,80px) scale(.9);}
  90%{-webkit-transform:translate(50px,50px) scale(.9);}
  95%{-webkit-transform:translate(20px,20px) scale(.9);}
  100%{-webkit-transform:translate(0,0) scale(.9);}
}
@keyframes manUp{
  0%{transform:translate(150px,120px) scale(.9);}
  15%{transform:translate(120px,110px) scale(.9);}
  50%{transform:translate(100px,100px) scale(.9);}
  75%{transform:translate(80px,80px) scale(.9);}
  90%{transform:translate(50px,50px) scale(.9);}
  95%{transform:translate(20px,20px) scale(.9);}
  100%{transform:translate(0,0) scale(.9);}
}
/*被踹（右边man）*/
@-webkit-keyframes manDown{
  0%{-webkit-transform:translate(0,0) scale(.9) rotate(0deg);}
  15%{-webkit-transform:translate(55px,55px) scale(.9) ;}
  50%{-webkit-transform:translate(35px,35px) scale(.9)); }
  75%{-webkit-transform:translate(20px,20px) scale(.9) rotate(40deg);}
  90%{-webkit-transform:translate(10px,10px) scale(.9) rotate(25deg);}
  95%{-webkit-transform:translate(5px,5px) scale(.9) rotate(10deg);}
  100%{-webkit-transform:translate(0px,0px) scale(.9) rotate(0deg);}
}
@keyframes manDown{
  0%{transform:translate(0,0) scale(.9) rotate(0deg);}
  15%{transform:translate(55px,55px) scale(.9) ;}
  50%{transform:translate(35px,35px) scale(.9)); }
  75%{transform:translate(20px,20px) scale(.9) rotate(40deg);}
  90%{transform:translate(10px,10px) scale(.9) rotate(25deg);}
  95%{transform:translate(5px,5px) scale(.9) rotate(10deg);}
  100%{transform:translate(0px,0px) scale(.9) rotate(0deg);}
}
/*赚金币man move*/
@-webkit-keyframes movemanR{
  0%{-webkit-transform:translate(0,0);transform:translate(0,0);}
  100%{-webkit-transform: translate(70px,-36px);transform: translate(70px,-36px);}	
}
@keyframes movemanR{
  0%{-webkit-transform:translate(0,0);transform:translate(0,0);}
  100%{-webkit-transform: translate(70px,-36px);transform: translate(70px,-36px);}	
}
@-webkit-keyframes movemanL{
  0%{-webkit-transform:translate(0,0);transform:translate(0,0);}
  100%{-webkit-transform: translate(-60px,0);transform: translate(-60px,0);}	
}
@keyframes movemanL{
  0%{-webkit-transform:translate(0,0);transform:translate(0,0);}
  100%{-webkit-transform: translate(-60px,0);transform: translate(-60px,0);}	
}
/*photo*/
@-webkit-keyframes photoShow{
  0%{ opacity:0;-webkit-transform:translate(-10px,160px);}
  30%{ opacity:.2;-webkit-transform:translate(0,100px);}
  70%{ opacity:.5;-webkit-transform:translate(10px,30px);}
  100%{ opacity:1;-webkit-transform:translate(0,0px);}	
}
@keyframes photoShow{
  0%{ opacity:0;transform:translate(-10px,160px);}
  30%{ opacity:.2;transform:translate(0,100px);}
  70%{ opacity:.5;transform:translate(10px,30px);}
  100%{ opacity:1;transform:translate(0,0px);}	
}
/*弹幕move*/
@-webkit-keyframes moveL{
  0%{-webkit-transform:translateX(0px);}
  100%{-webkit-transform:translateX(-1440px);}	
}
@keyframes moveL{
  0%{transform:translateX(0px);}
  100%{transform:translateX(-1440px);}	
}
/*掉金币*/
@-webkit-keyframes fallCoin{
   0%{ opacity:1;-webkit-transform:translate(200px,0px) rotate(-10deg);bottom:600px;}
   50%{ opacity:.6;-webkit-transform:translate(100px,0);bottom:350px;}
   100%{ opacity:.3;-webkit-transform:translate(50px,0) rotate(10deg);bottom:200px;}	
}
@keyframes fallCoin{
   0%{ opacity:1;transform:translate(200px,0px) rotate(-10deg);bottom:600px;}
   50%{ opacity:.6;transform:translate(100px,0);bottom:350px;}
   100%{ opacity:.3;transform:translate(50px,0) rotate(10deg);bottom:200px;}	
}
@-webkit-keyframes fallCoinT{
   0%{ opacity:1;}
   50%{ opacity:.6;}
   100%{ opacity:.3;bottom:0;}	
}
@keyframes fallCoinT{
   0%{ opacity:1;}
   50%{ opacity:.6;}
   100%{ opacity:.3;bottom:0;}	
}
/*二维码 show*/
@-webkit-keyframes giftShow{
   0%{ opacity:0;}
   100%{ opacity:1;}	
}
@keyframes giftShow{
   0%{ opacity:0;}
   100%{ opacity:1;}	
}
/*眼睛move*/
@-webkit-keyframes eye{
   0%{-webkit-transform:translateX(-15px) rotate(-15deg);}
   100%{-webkit-transform:translateX(15px) rotate(15deg);}	
}
@keyframes eye{
   0%{transform:translateX(-15px) rotate(-15deg);}
   100%{transform:translateX(15px) rotate(15deg);}	
}
/*进度条*/
@-webkit-keyframes progressBar{
    0%{width:364px;}	
    100%{width:0;}
}
@keyframes progressBar{
    0%{width:364px;}	
    100%{width:0;}
}